.mf_herobanner {
    .mf_hero {
        &_content{
            z-index: 10;
            position: absolute;

            max-width: 525px;
            top: 50%;
            left: 100px;
            transform: translateY(-50%);

            color: white;

            h1 {
                font-size: 5.25rem;
                font-weight: 700;
                font-family: $font-default;
                line-height: 7.5rem;

                margin-top: 0;
                margin-bottom: 1rem;

                background: linear-gradient(0deg, #F36563 0%, #F36360 26%, #F35E57 45%, #F35447 62%, #F34730 77%, #F33614 92%, #F32A00 100%);
                -webkit-background-clip: text;
                background-clip: text;
                color: transparent;
                text-transform: uppercase;

                @include text-truncate(4);

                @include respond-to-mobile{
                    font-size: 1.5rem;
                    line-height: 2.25rem;

                    width: 141px;
                    margin:0 auto;
                    margin-bottom: 1rem;
                };

                @include respond-to-tablet{
                    font-size: 4.3rem;
                    line-height: 6.5rem;
                };
            }

            p{
                font-size: 1.5rem;
                line-height: 2.25rem;
                @include text-truncate(4);

                @include respond-to-mobile{
                    font-size: 0.875rem;
                    line-height: 1.313rem;
                    margin-bottom: 1.5rem;
                };
            }

            button{
                background-image: linear-gradient(90deg, #F3AE5F 0%, #F3A65E 2%, #F28B5A 8%, #F27857 14%, #F26D56 20%, #F26955 27%, #FF5B26 57%, #F31F4F 88%, #D62970 100%);
            }

            @include respond-to-mobile{
                text-align: center;
                left:$space_small;
                right: $space_small;
            };

            @include respond-to-tablet{
                left:$space_small;
                right: $space_small;
            };

            @include respond-to-laptop{
                left: $space_medium;
            }
        }

        &_swiper{

            height: 1210px;

            @include respond-to-mobile{
                height: 790px;
            }

            @include respond-to-tablet{
                height: 790px;
            }
        }
    }

    img{
        height: 100%;
        object-fit: cover;
    }

    .swiper-pagination{
        .swiper-pagination-bullet{
            width: $size-pagination-swiper;
            height: $size-pagination-swiper;
            border: .5px solid $color-primary;
            opacity: 1;
            background-color: transparent;

            &.swiper-pagination-bullet-active{
                background-color: $color-primary;
            }
        }
    }

    .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal{
        bottom: 90px;
    }

    .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet{
        margin:0 $space-pagination-swiper;
    }
}

.mf_bio-elec{

    background: linear-gradient(46.46deg, #F3AE5F 0%, #F3A65E 2%, #F28B5A 8%, #F27857 14%, #F26D56 20%, #F26955 27%, #FF5B26 57%, #F31F4F 88%, #D62970 100%);

    .img_bg{
        width: 564px;
        position: absolute;
        bottom:-161px;
        right: 0;
        z-index: 2;
    }
    &-wrapper{
        display: inline-block;
        width: 100%;

        .mf_bio_elec-img{
            .img-desktop{
                width: 45%;
                height: 100%;
                object-fit: cover;
                position: absolute;
                z-index: 1;

                @include respond-to-mobile{
                    display: none;
                }
                @include respond-to-tablet{
                    display: none;
                }
                @include respond-to-laptop{
                    display: none;
                }
            }

            .img-mobile{
                width: 100%;
                height: 100%;

                @include respond-to-mobile{
                    display: block;
                }
                @include respond-to-tablet{
                    display: block;
                }
                @include respond-to-laptop{
                    display: block;
                }

                @include respond-to-desktop{
                    display: none;
                }
            }
        }

        .mf_button{
            @include respond-to-mobile{
                display: none;
            }
        }

        @include respond-to-mobile{
            display:  flex;
            flex-direction: column-reverse;
        }

    }

    &__content{
        max-width: 994px;
        text-align: right;

        margin-left: auto;
        margin-right: $space_large;
        margin-bottom: 208px;
        position: inherit;
        z-index: 2;
        @include respond-to-mobile{
            text-align: center;
            margin-right: $space_small;
            max-width: calc(100% - ($space_small * 2));
            margin-bottom: 0;
        }

        @include respond-to-tablet{
            text-align: center;
            margin-right: $space_small;
            max-width: calc(100% - ($space_small * 2));
            margin-bottom: 100px;
        }
        
        @include respond-to-laptop{
            margin-right: $space_medium;
            margin-left:  $space_medium;
        }

        @media (min-width:1020px) and (max-width:1200px){
            margin-right: 0;
            width: 100%;
            padding: 0 $space_large;
        }
    }

    h1{
        max-width: 724px;
        margin-left: auto;
        @include text-truncate(2);

        @include respond-to-mobile{
            -webkit-line-clamp: 3;
        }

        @include respond-to-tablet{
            -webkit-line-clamp: 3;
        }
    }

    &__main-content{
        position: relative;
        margin-bottom: 3.5rem;
        @include border_content();
        // border-image-source: linear-gradient(90deg, #F3AE5F 0%, #F3A65E 2%, #F28B5A 8%, #F27857 14%, #F26D56 20%, #F26955 27%, #FF5B26 57%, #F31F4F 88%, #D62970 100%);
        .top-left-square,.top-right-square,.bottom-left-square,.bottom-right-square{
            background-color: $color-white;
        }
        p{
            margin: 2.625rem 5.125rem;

            font-size: 2rem;
            line-height: 3rem;
            font-weight: 400;
            color: $color-white;

            @include text-truncate(7);

            @include respond-to-mobile{
                margin:1.5rem;
                -webkit-line-clamp: 20;
                font-size: 1rem;
                line-height: 1.5rem;
            }

            @include respond-to-tablet{
                margin: 1rem 1rem;
                -webkit-line-clamp: 10;
                font-size: 1.5rem;
                line-height: 2rem;
            }
        }

        @include respond-to-mobile{
            margin-bottom: 0;
        }
    }

    
}

// suit
.mf_suit{
    background: linear-gradient(46.13deg, #000000 0%, #322B48 52%, #332C44 81%, #352F3D 100%);;
    &__content{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        h1{
            color: $color-primary;
            text-align: center;
            margin-bottom: 56px;
        }
        .mf_button{
            margin: 0 auto;
            margin-top: 32px;
            margin-bottom: 112px;
        }

        .suit_ico{
            width: 470px;
            position: absolute;
            left: -40px;
            bottom: -120px;
            z-index: 10;

            @include respond-to-mobile{
                display: none;
            }
        }
    }

    &__main_content{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 34px;

        .mf_suit__text{
            display: flex;
            margin-bottom: 3.5rem;
            h6{
                color: $color-primary;
                font-weight: 700;
                font-size: 3.5rem;
                line-height: 1.5rem;
                margin-right: .5rem;

                @include respond-to-mobile{
                    font-size: 3rem;
                    line-height: 0.5rem;
                }

                @include respond-to-mobile{
                    font-size: 3rem;
                    line-height: 0.5rem;
                }
            }
            p{
                font-size: 1.75rem;
                line-height: 2.625rem;
                color: $color-white;
                margin-bottom: 0;

                @include text-truncate(5);

                @include respond-to-mobile{
                    font-size: 1.2rem;
                    line-height: 2rem;
                }

                @include respond-to-tablet{
                    font-size: 1.5rem;
                    line-height: 2rem;
                }
            }
        }


        &-right,&-left{
            max-width: 500px;
            margin-top: 86px;

            @include respond-to-mobile{
                max-width: 100%;
                margin-top: 0;
            }

            @include respond-to-tablet{
                max-width: 100%;
                margin-top: 0;
            }

            @include respond-to-laptop{
                max-width: 100%;
                margin-top: 0;
                flex: 0 0 48%;
            }

            @media (min-width: 1024px) and (max-width: 1679px){
                flex: 0 0 48%;
                max-width: 100%;
            }

            .mf_suit__text {
                &:last-child{
                    margin-bottom: 0;
                }
            }
        }

        &-left {
            .mf_suit__text {
                &:last-child{
                    @include respond-to-tablet{
                        margin-bottom: 3.5rem;
                    }
                }
            }
        }

        &-center{
            height: 578px;
            @include respond-to-mobile{
                order: -1;
                height: auto;
            }
            @include respond-to-tablet{
                flex: 0 0 100%;
                order: -1;
                height: 100%;
                margin-bottom: 36px;
            }

            @include respond-to-laptop{
                flex: 0 0 100%;
                order: -1;
                height: 100%;
            }

            @media screen and (max-width: 1200px){
                flex: 0 0 100%;
                order: -1;
                height: 100%;
            }

            @media screen and (max-width: 1679px){
                height: 100%;
            }
        }


        @include respond-to-mobile{
            grid-template-columns: repeat(1,1fr);
        }
        
    }
}

.mf_training{
    background: linear-gradient(46.79deg, #F3AE5F 0%, #F3A65E 2%, #F28B5A 8%, #F27857 14%, #F26D56 20%, #F26955 27%, #FF5B26 57%, #F31F4F 88%, #D62970 100%);

    .img_bg{
        width: 350px;
        position: absolute;
        z-index: 2;
        right: 0;
        bottom: -180px;
    }
    &__content{
        display: inline-block;

        .mf_title{
            text-align: center;
            margin-bottom: 64px;
        }
    }

    &__main-content{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 4.5rem;
        margin-bottom: 140px;
        justify-content: center;

        @include respond-to-mobile{
            grid-template-columns: repeat(1, 1fr);
        }

        @include respond-to-tablet{
            grid-template-columns: repeat(1, 1fr);

        }

        @include respond-to-laptop{
            grid-template-columns: repeat(1, 600px);
        }

        @media (min-width: 1024px) and (max-width: 1200px){
            grid-template-columns: repeat(1, 600px);
        }
    }

    &__content-item{
        position: relative;
        img{
            border-radius: 48px;
        }
    }

    &__item-title,.mf_button_small{
        position: absolute;
        z-index: 10;
        left:50%;
        transform: translateX(-50%);
    }

    &__item-title{
        top: 36px;
        color: $color-cream-white;
        font-family: $font-secondary;
        width: 80%;
        text-align: center;
        h2{
            position: relative;
            font-size: 4rem;
            line-height: 6rem;
            margin-bottom: 1rem;
            text-transform: capitalize;
            display: inline-block;

            &::before{
                content: '';
                background: linear-gradient(90deg, #F3AE5F 0%, #F3A65E 2%, #F28B5A 8%, #F27857 14%, #F26D56 20%, #F26955 27%, #FF5B26 57%, #F31F4F 88%, #D62970 100%);;
                height: 1.625rem;

                position: absolute;
                z-index: -1;
                bottom: 0.75rem;
                left: -2.25rem;
                right: -1.25rem;

                transform: skew(343deg);

                @include respond-to-mobile{
                    left: -1rem;
                    right: -0.5rem;
                    height: 1.2rem;
                    margin-bottom: 0;
                }

            }


            @include respond-to-mobile{
                font-size: 2rem;
                line-height: 3rem;
            };

            @include respond-to-tablet{
                font-size: 2.9rem;
                line-height: 4rem;
            };

            @include respond-to-laptop{
                font-size: 2.9rem;
                line-height: 4rem;
            };

            @media (min-width: 1024px) and (max-width: 1200px){
                font-size: 2.9rem;
                line-height: 4rem;
            }

            @media (min-width:1200px) and (max-width: 1440px){
                font-size: 2.5rem;
                line-height: 3.625rem;
            }
        }

        p{
            text-align: center;
            font-weight: 700;
            font-size: 2rem;
            line-height: 3rem;
            text-transform: uppercase;

            @include respond-to-mobile{
                font-size: 1rem;
                line-height: 1.5rem;
            }
            span{
                font-size: 3.25rem;
                line-height: 3.875rem;

                @include respond-to-mobile{
                    font-size: 1.5rem;
                    line-height: 2.25rem;
                }
            }
        }

        @include respond-to-mobile{
            top: 14px;
        }

    }

    .mf_button_small{

        $size: 74px;
        bottom: - calc($size/2);
        background-image: linear-gradient(90deg, #000000 0%, #322B48 52%, #332C44 81%, #352F3D 100%);
        border: 3px solid #F6664B;
        border-radius: calc($size/2);
        padding: 1rem 5rem;

        &:hover{
            box-shadow: 0 4px 15px 0 rgba(19, 20, 20, 0.88);

        }
        a{
            font-size: 1.625rem;
            line-height: 2.25rem;
            color: $color-cream-white;
            font-family: $font-secondary;

            font-weight: 700;

            text-decoration: none;

            @include respond-to-mobile{
                font-size: 0.875rem;
                line-height: 1.131rem;
            }

            @include respond-to-tablet{
                font-size: 1.4rem;
            }
        }

        @include respond-to-mobile{
            $size: 40px;
            padding: .5rem 2.5rem;
            bottom: - calc($size/2);
        }

        @include respond-to-tablet{
            padding: 1rem 3.5rem;
        }

        @media (min-width:1200px) and (max-width: 1440px){
            padding: 1rem 3rem;
        }
    }
}

.mf_benefit{
    background: linear-gradient(47.28deg, #000000 0%, #322B48 52%, #332C44 81%, #352F3D 100%);
    &__content{
        display: inline-block;
        text-align: center;
        margin-top: 150px;
        margin-bottom: 150px;
        .mf_title{
            color: $color-primary;
            margin-top: 0;
        }
    }
    &__main-content{
        display: flex;
        align-items: center;
        min-height: 500px;
        margin-bottom: 30px;
        &-text{
            position: relative;
            max-width: 620px;
            width: 620px;
            color: $color-cream-white;

            margin-right: 70px;

            border-color: red;
            @include border_content();
            border-image-source: linear-gradient(90deg, #F3AE5F 0%, #F3A65E 2%, #F28B5A 8%, #F27857 14%, #F26D56 20%, #F26955 27%, #FF5B26 57%, #F31F4F 88%, #D62970 100%);
            .top-left-square,.top-right-square,.bottom-left-square,.bottom-right-square{
                background: linear-gradient(90deg, #F3AE5F 0%, #F3A65E 2%, #F28B5A 8%, #F27857 14%, #F26D56 20%, #F26955 27%, #FF5B26 57%, #F31F4F 88%, #D62970 100%);
            }

            .text-group{
                margin: 44px 56px;

                @include respond-to-mobile{
                    margin: 1rem;
                }

                @include respond-to-tablet{
                    margin: 20px 30px;
                }
            }
            .text-content{
                display: flex;
                text-align: left;
                &-img{
                    height: 2.625rem;
                    display: flex;
                    align-items: center;
                    margin-right: 1rem;

                    @include respond-to-mobile{
                        height: 1.5rem;
                    }
                }
                img{
                    width: 40px;
                    height: 24px;

                    @include respond-to-mobile{
                        width: 20px;
                        height: 12px;
                    }
                }
                p{
                    margin-bottom: 0;
                    font-size: 1.75rem;
                    line-height: 2.625rem;
                    
                    @include text-truncate(3);

                    @include respond-to-mobile{
                        font-size: 1rem;
                        line-height: 1.5rem;
                    }

                    @include respond-to-tablet{
                        font-size: 1.5rem;
                        line-height: 2rem;
                    }
                }

            }

            @media (max-width:1600px){
                margin-right: 0;
                margin-bottom: 3rem;
                width: 100%;
            }
        }

        .gallery{
            width: 1020px;
            .gallery-cards{
                height: 532px;
                min-height: 338px;
                .swiper-wrapper{
                    align-items: center;

                    @include respond-to-mobile{
                        align-items: flex;
                    }
                }

                .swiper-slide{
                    width: 206px;
                    height: 338px;
                    text-align: center;
                    transition: all .3s;

                    border-top-right-radius: 32px;
                    overflow: hidden;

                    @include respond-to-mobile{
                        width: 91px;
                        height: 136px;
                    }

                    &-active{
                        width: 354px !important;
                        height: 532px;
                        transition: all .3s;

                        @include respond-to-mobile{
                            width: 110px !important;
                            height: 165px;
                        }
                    }
                }

                .swiper-pagination{
                    width: auto;
                    left: calc(354px + 24px);
                    bottom: 0;

                    .swiper-pagination-bullet{
                        margin:0 $space-pagination-swiper;
                        width: $size-pagination-swiper;
                        height: $size-pagination-swiper;
                        background-color: transparent;
                        border: 0.5px solid $color-cream-white; 

                        @include respond-to-mobile{
                            margin:0 6px;
                        }

                        @include respond-to-tablet{
                            margin:0 6px;
                        }
                    }

                    .swiper-pagination-bullet-active{
                        background: $color-cream-white;
                    }

                    @include respond-to-mobile{
                        left: 50%;
                        transform: translateX(-50%);
                    }

                    @include respond-to-tablet{
                        left: 50%;
                        transform: translateX(-50%);
                    }

                }

                img{
                    display: block;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            @media (max-width:1600px){
                width: 100%;
            }
        }

        @media (max-width:1600px){
            flex-direction: column;
        }
        
    }
}

.mf_studio{

    &_swiper{
        max-height: 920px;
        height: 920px;
    }
    img{
        height: 100%;
        object-fit: cover;
    }

    &__content{
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%, -50%);
        z-index: 2;

        mix-blend-mode: overlay;
        text-transform: capitalize;
        text-align: center;

        h1{
            font-size: 12.5rem;
            line-height: 12.5rem;
            color: $color-white;

            @include respond-to-mobile{
                font-size: 6rem;
                line-height: 8.75rem;
            }

            @include respond-to-tablet{
                font-size: 8rem;
                line-height: 10.75rem;
            }
        }
    }

    .swiper-pagination{
        margin-bottom: 70px;

        .swiper-pagination-bullet{
            width: $size-pagination-swiper;
            height: $size-pagination-swiper;
            background-color: transparent;
            border: 0.5px solid $color-black; 
        }

        .swiper-pagination-bullet-active{
            background: $color-black;
        }


    }

    .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet{
        margin:0 $space-pagination-swiper;
    }
}

.mf_contact{
    background: linear-gradient(49.67deg, #F3AE5F 0%, #F3A65E 2%, #F28B5A 8%, #F27857 14%, #F26D56 20%, #F26955 27%, #FF5B26 57%, #F31F4F 88%, #D62970 100%);

    .img_bg{
        position: absolute;
        width: 50%;
        bottom: 0;
    }
    &__content{
        display: inline-block;
        .mf_title{
            text-align: center;
            color: $color-black;
            margin-top: 130px;
            margin-bottom: 90px;

            position: inherit;
            z-index: 3;
        }

        .contact_ico{
            position: absolute;
            top: 100px;
            left: 50%;
            transform: translate( -50%);
            z-index: 2;
        }
    }

    &__main-content{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 52px;
        margin-bottom: 190px;



        &-left{
            p{
                font-weight: 400;
                font-size: 1.5rem;
                line-height: 2.25rem;
                color: $color-black-1;
                margin-bottom: 1.5rem;
                &:first-child{
                    margin-top: 46px;
                }

                &:last-child{
                    margin-bottom: 0;
                }

                @include text-truncate(3);
            }
            .hotline{
                font-weight: 700;
                color: $color-black;
                font-size: 2.75rem;
                line-height: 4.125rem;   
                @include text-truncate(2);
            }

            .mf_contact__gr_ico{
                display: flex;
                margin-top: 2rem;
                cursor: pointer;
                a{

                    display: flex;
                    justify-content: center;
                    align-items: center;

                    color: $color-white;

                    width: 56px;
                    height: 56px;
                    border: 2px solid $color-white;
                    border-radius: 50%;
                    margin-right: 20px;
                    text-decoration: none;
                    &:last-child{
                        margin-right: 0;
                    }

                    i{
                        line-height: 1.5rem;
                        font-size: 1.5rem;
                    }
                }
            }

            @include respond-to-laptop{
                grid-column: 1 / span 2;
            }
        }

        &-center{
            .form_group{
                margin-bottom: 2rem;
            }
        }

        &-right{
            .form_group{
                margin-bottom: 78px;
            }

            .mf_button{
                background-image: linear-gradient(90deg, #000000 0%, #322B48 52%, #332C44 81%, #352F3D 100%);
                a{
                    color: $color-cream-white;
                }

                &:hover{
                    box-shadow: 0 4px 15px 0 rgba(19, 20, 20, 0.88);
                }
            }
        }

        .form_label, .form_label span{
            font-size: 1.5rem;
            line-height: 2.25rem;
            font-weight: 700;
            color: $color-white;
            font-family: $font-default;
            margin-bottom: 10px;
        }

        .form_label > span {
            color: $color-black;
        }

        input,textarea {
            width: 100%;
            opacity: .4;
            background: linear-gradient(90deg, #FFE5E5 0%, #FFE5E5 100%);
            padding: 24px;
            border: none;
            border-radius: 15px;

            :focus-visible{
                outline: none;
            }
        }

        textarea{
            min-height: 206px;
        }

        @include respond-to-mobile{
            grid-template-columns: repeat(1, 1fr);
        }
        @include respond-to-tablet{
            grid-template-columns: repeat(1, 1fr);
        }

        @include respond-to-laptop{
            grid-template-columns: repeat(2, 1fr);
        }
    }
}