.mf_section_hero_banner {
    height: 100vh;
    background-image: url("../../images/hero-banner/background-desktop.png");
    background-size: cover;
    background-position: center center;
    overflow: hidden;
    .content {
        .title {
            color: $mf-color-primary;
            font-size: 48px;
            font-weight: 700;
            margin-bottom: 8px;
            text-transform: uppercase;
            span {
                display: block;
                background: linear-gradient(
                    0deg,
                    #f36563 0%,
                    #f36360 26%,
                    #f35e57 45%,
                    #f35447 62%,
                    #f34730 77%,
                    #f33614 92%,
                    #f32a00 100%
                );
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }

            @media (max-width: 1200px) {
                font-size: 40px;
            }

            @media (max-width: 576px) {
                font-size: 32px;
            }
        }
        .description {
            color: #ffffff;
            font-size: 18px;
            font-weight: 300;
            margin-bottom: 32px;

            @media (max-width: 992px) {
                font-size: 24px;
                margin-bottom: 24px;
            }

            @media (max-width: 576px) {
                font-size: 16px;
            }
        }

        @media (max-width: 992px) {
            position: relative;
            text-align: center;
            padding-top: calc(#{$mf-max-size-logo-default} + 40px + 16px);
            z-index: 2;
        }
    }

    .image {
        img {
            width: 100%;
            height: auto;
        }

        @media (max-width: 992px) {
            position: relative;
            padding-bottom: 56px;
            z-index: 1;
            pointer-events: none;
        }
        @media (max-width: 576px) {
            transform: scale(1.2);
        }
    }

    @media (max-width: 576px) {
        background-image: url("../../images/hero-banner/background-mobile.png");
    }
}

.mf_section_bio_electrical {
    position: relative;
    background: $mf-background-section-orange;

    .image {
        position: relative;
        display: flex;
        height: 100%;
        align-items: center;
        pointer-events: none;
        z-index: 1;

        img {
            width: 100%;
            height: auto;
        }

        @media (max-width: 992px) {
            margin-left: 0;
        }
    }

    .content {
        position: relative;
        padding: $mf-spacing-section-lg * 2 0;
        text-align: right;
        z-index: 2;

        @media (max-width: 1440px) {
            padding: $mf-spacing-section-lg 0;
        }

        @media (max-width: 1200px) {
            padding: $mf-spacing-section-md 0;
        }

        @media (max-width: 992px) {
            text-align: center;
            padding: $mf-spacing-section-sm 0;
        }
        .btn {
            @media (max-width: 576px) {
                display: none;
            }
        }
    }

    .content-box {
        margin: 32px 0;
        p {
            font-size: 20px;
            font-weight: 300;
            color: #ffffff;
            margin-bottom: 0;

            @media (max-width: 1200px) {
                font-size: 16px;
            }
        }

        @media (max-width: 992px) {
            margin-bottom: 0;
        }
    }

    .col-lg-5 {
        @media (max-width: 992px) {
            order: 2;
        }
    }

    .col-lg-7 {
        @media (max-width: 992px) {
            order: 1;
        }
    }
}

.mf_section_symbiont {
    background: $mf-background-section-dark;
    padding: $mf-spacing-section-lg 0;

    .symbiont-swiper {
        width: 100%;
        display: none;
        @media (max-width: 992px) {
            display: block;
        }
    }

    .content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 34px;
        margin-top: 56px;

        .item-content {
            display: flex;
            margin-bottom: 56px;

            h6 {
                color: $mf-color-primary;
                font-weight: 700;
                font-size: 32px;
                margin-right: 8px;
                margin-bottom: 0;
                @media (min-width: 993px) {
                    height: fit-content;
                    margin-top: -10px;
                }
                @media (max-width: 576px) {
                    font-size: 24px;
                }
            }

            p {
                font-size: 20px;
                font-weight: 300;
                color: #ffffff;
                margin-bottom: 0;

                @media (max-width: 576px) {
                    font-size: 18px;
                }
            }

            @media (max-width: 992px) {
                flex-direction: column;
                text-align: center;
            }
        }

        .content-left,
        .content-right {
            max-width: 80%;
            @media (max-width: 992px) {
                display: none;
            }
            @media (max-width: 1200px) {
                max-width: 100%;
            }
        }

        .content-right {
            margin-left: auto;
        }

        .content-center {
            display: flex;
            height: 100%;
            justify-content: center;
            align-items: center;
            margin: 0 -100px;
            img {
                width: 100%;
                height: auto;
            }
            @media (max-width: 1200px) {
                margin: 0 -66px;
            }
            @media (max-width: 992px) {
                order: 2;
                height: auto;
                margin: 0;
                margin-bottom: 20px;
            }
        }

        @media (max-width: 992px) {
            grid-template-columns: repeat(1, 1fr);
        }

        @media (max-width: 768px) {
            margin-top: 32px;
        }

        @media (max-width: 576px) {
            margin-top: 24px;
        }
    }

    @media (max-width: 1200px) {
        padding: $mf-spacing-section-md 0;
    }

    @media (max-width: 992px) {
        text-align: center;
        padding: $mf-spacing-section-sm 0;
    }
}

.mf_section_training {
    background: $mf-background-section-orange;
    padding: $mf-spacing-section-lg 0;

    .list-training {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 24px;
        justify-content: center;
        margin-top: 56px;

        @media (max-width: 992px) {
            grid-template-columns: repeat(1, 1fr);
            margin-bottom: $mf-spacing-section-sm;
            gap: 56px;
        }

        @media (max-width: 768px) {
            margin-top: 32px;
        }

        @media (max-width: 576px) {
            margin-top: 24px;
        }
    }

    .item-training {
        position: relative;

        img {
            border-radius: 48px;
            width: 100%;
            object-fit: cover;
            @media (max-width: 576px) {
                border-radius: 72px;
            }
        }
    }

    .content,
    .btn-dark {
        position: absolute;
        z-index: 10;
        left: 50%;
        transform: translateX(-50%);
    }

    .content {
        top: 24px;
        color: $mf-color-pastel-pink;
        width: 80%;
        text-align: center;

        .title {
            position: relative;
            font-size: 44px;
            margin-bottom: 16px;
            padding: 0 22px;
            text-transform: capitalize;
            display: inline-block;
            font-weight: 700;
            font-style: italic;
            &::after {
                content: "";
                background: $mf-background-section-orange;
                height: 50%;
                position: absolute;
                z-index: -1;
                bottom: 0;
                left: 50%;
                width: 100%;
                transform: translateX(-50%) skew(343deg);
            }
            @media (max-width: 992px) {
                font-size: 32px;
            }
        }
        .description {
            margin-bottom: 0;
        }
        @media (max-width: 576px) {
            top: 24px;
        }
    }

    .btn-dark {
        bottom: calc(-40px / 2);

        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 20px;
            border: 3px solid $mf-color-primary;
            @media (max-width: 576px) {
                border-width: 2px;
            }
        }
        @media (max-width: 576px) {
            bottom: calc(-32px / 2);
        }
    }

    @media (max-width: 1200px) {
        padding: $mf-spacing-section-md 0;
    }

    @media (max-width: 992px) {
        text-align: center;
        padding: $mf-spacing-section-sm 0;
    }
}

.mf_section_benefit {
    background: $mf-background-section-dark;
    padding: $mf-spacing-section-lg 0;

    .mf_benefit_wrapper {
        margin-top: 56px;

        @media (max-width: 768px) {
            margin-top: 32px;
        }

        @media (max-width: 576px) {
            margin-top: 24px;
        }
    }

    .list-benefit {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 8px;
        width: 100%;

        .item-benefit {
            display: flex;
            gap: 8px;

            p {
                color: $mf-color-pastel-pink;
                font-size: 20px;
                margin-bottom: 0;
            }
        }
    }

    .benefit-swiper {
        .swiper-slide {
            img {
                border-top-right-radius: 120px;
                width: 100%;
                height: auto;
                transition: 0.3s all ease-in-out;
            }
        }
        .swiper-pagination {
            display: flex;
            justify-content: flex-end;
            bottom: 0;
        }

        .swiper-pagination-bullets {
            .swiper-pagination-bullet {
                &:first-of-type {
                    margin-left: 0;
                }
                &:last-of-type {
                    margin-right: 0;
                }
            }
        }

        @media (max-width: 992px) {
            margin-top: 32px;
        }
    }

    @media (max-width: 1200px) {
        padding: $mf-spacing-section-md 0;
    }

    @media (max-width: 992px) {
        text-align: center;
        padding: $mf-spacing-section-sm 0;
    }
}

.mf_section_studio {
    .watermark {
        color: #ffffff;
        font-size: 120px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        mix-blend-mode: soft-light;
        text-align: center;
        margin-bottom: 0;
        pointer-events: none;

        @media (max-width: 1200px) {
            font-size: 60px;
        }
        @media (max-width: 992px) {
            font-size: 48px;
        }
    }

    .studio-swiper {
        .swiper-slide {
            img {
                width: 100%;
                height: auto;
            }
        }

        .swiper-pagination {
            .swiper-pagination-bullet {
                background-color: transparent;
                border-color: #000000;
            }

            .swiper-pagination-bullet-active {
                background-color: #000000;
            }
        }
    }
}

.mf_section_contact {
    background: $mf-background-section-orange;
    padding: $mf-spacing-section-lg 0 $mf-spacing-section-lg * 2;

    .mf_title {
        margin-top: 32px;
        margin-bottom: 56px;
        z-index: 1;
        &:after {
            content: "";
            position: absolute;
            background-image: url("../../images/decorate/2.png");
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 214px;
            height: 110px;
            z-index: -1;

            @media (max-width: 992px) {
                transform: translate(-50%, -50%) scale(0.8);
            }

            @media (max-width: 576px) {
                transform: translate(-50%, -50%) scale(0.5);
            }
        }
        @media (max-width: 768px) {
            margin-bottom: 32px;
        }
        @media (max-width: 576px) {
            margin-top: 16px;
            margin-bottom: 24px;
        }
    }

    .contacts-information {
        padding-top: 34px;
        text-align: center;
        .address {
            font-size: 18px;
            margin-bottom: 8px;

            @media (max-width: 1200px) {
                font-size: 16px;
            }
        }

        .hotline {
            font-weight: 700;
            font-style: italic;
            font-size: 32px;

            @media (max-width: 1200px) {
                font-size: 24px;
            }
        }

        .socials {
            display: flex;
            justify-content: center;
            gap: 8px;
            margin-top: 16px;
            > a {
                display: inline-block;
                img {
                    width: 56px;
                    height: 56px;
                }
            }
        }

        @media (max-width: 992px) {
            padding-top: 0;
            margin-top: 32px;
        }
    }

    .mf_form_contact {
        .col-md-6 {
            + .col-md-6 {
                @media (max-width: 768px) {
                    margin-top: 24px;
                }
            }
        }
    }

    textarea {
        &.form-control {
            min-height: calc((70px * 2) + 16px - 24px);
            resize: none;
        }
    }

    form {
        label {
            color: #ffffff;
        }
    }

    .form_group {
        text-align: left;
        + .form_group {
            margin-top: 16px;
            @media (max-width: 768px) {
                margin-top: 24px;
            }
        }
    }

    .form-control {
        background-color: rgba($color: #ffe5e5, $alpha: 0.4);
    }

    .form_submit {
        text-align: left;
        margin-top: calc(24px + 10px + 16px);
        .btn {
            width: 50%;
        }
        @media (max-width: 768px) {
            margin-top: 24px;
            text-align: center;
        }
    }

    .col-lg-4 {
        @media (max-width: 992px) {
            order: 2;
        }
    }

    .col-lg-8 {
        @media (max-width: 992px) {
            order: 1;
        }
    }

    @media (max-width: 1200px) {
        padding: $mf-spacing-section-md 0 $mf-spacing-section-md * 2;
    }

    @media (max-width: 992px) {
        padding: $mf-spacing-section-sm 0 $mf-spacing-section-sm * 2;
    }
}
