.mf_section_hero_banner {
    height: 100vh;
    background-image: url("../../images/hero-banner/background-desktop.png");
    background-size: cover;
    background-position: center center;

    .content {
        .title {
            color: $mf-color-primary;
            font-size: 56px;
            font-weight: 700;
            margin-top: 0;
            margin-bottom: 8px;
            text-transform: uppercase;

            @media (max-width: 1200px) {
                font-size: 44px;
            }

            @media (max-width: 576px) {
                font-size: 24px;
            }
        }

        .description {
            color: #ffffff;
            font-size: 18px;
            font-weight: 300;
            margin-bottom: 32px;

            @media (max-width: 992px) {
                font-size: 24px;
                margin-bottom: 24px;
            }

            @media (max-width: 576px) {
                font-size: 16px;
            }
        }

        @media (max-width: 992px) {
            text-align: center;
            padding-top: 56px;
        }
    }

    .image {
        img {
            width: 100%;
            height: auto;
        }

        @media (max-width: 992px) {
            padding-bottom: 56px;
        }
    }

    @media (max-width: 576px) {
        background-image: url("../../images/hero-banner/background-mobile.png");
    }
}

.mf_section_bio_electrical {
    position: relative;
    background: $mf-background-section-orange;

    .image {
        position: relative;
        display: flex;
        height: 100%;
        align-items: center;
        pointer-events: none;
        z-index: 1;

        img {
            width: 100%;
            height: auto;
        }

        @media (max-width: 992px) {
            margin-left: 0;
        }
    }

    .content {
        position: relative;
        padding: $mf-spacing-section-lg 0;
        text-align: right;
        z-index: 2;

        @media (max-width: 1200px) {
            padding: $mf-spacing-section-md 0;
        }

        @media (max-width: 992px) {
            text-align: center;
            padding: $mf-spacing-section-sm 0;
        }
    }

    .content-box {
        margin-bottom: 56px;
        margin-top: 32px;

        p {
            padding: 48px 24px;
            font-size: 20px;
            font-weight: 300;
            color: #ffffff;

            @media (max-width: 1200px) {
                font-size: 16px;
                padding: 32px 16px;
            }
        }

        @media (max-width: 992px) {
            margin-bottom: 32px;
        }
    }

    .col-lg-5 {
        @media (max-width: 992px) {
            order: 2;
        }
    }

    .col-lg-7 {
        @media (max-width: 992px) {
            order: 1;
        }
    }
}

.mf_section_symbiont {
    background: $mf-background-section-dark;
    padding: $mf-spacing-section-lg 0;

    .symbiont-swiper {
        width: 100%;
        display: none;

        .swiper-pagination {
            .swiper-pagination-bullet {
                margin: 0 4px;
                width: $mf-size-pagination-swiper;
                height: $mf-size-pagination-swiper;
                background-color: transparent;
                border: 2px solid $mf-color-pastel-pink;
            }

            .swiper-pagination-bullet-active {
                background: $mf-color-pastel-pink;
            }
        }

        @media (max-width: 992px) {
            display: block;
        }
    }

    .content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 34px;
        margin-top: 56px;

        .item-content {
            display: flex;
            margin-bottom: 56px;

            h6 {
                color: $mf-color-primary;
                font-weight: 700;
                font-size: 32px;
                margin-right: 8px;
                margin-bottom: 0;

                @media (max-width: 576px) {
                    font-size: 24px;
                }
            }

            p {
                font-size: 20px;
                font-weight: 300;
                color: #ffffff;
                margin-bottom: 0;

                @media (max-width: 576px) {
                    font-size: 16px;
                }
            }

            @media (max-width: 992px) {
                flex-direction: column;
                text-align: center;
            }
        }

        .content-right,
        .content-left {
            max-width: 500px;

            @media (max-width: 992px) {
                display: none;
            }

            @media (max-width: 1440px) {
                flex: 0 0 48%;
                max-width: 100%;
            }
        }

        .content-center {
            display: flex;
            height: 100%;
            justify-content: center;
            align-items: center;
            margin: 0 -44px 0 -66px;

            img {
                width: 100%;
                height: auto;
            }

            @media (max-width: 992px) {
                order: 2;
                height: auto;
                margin: 0;
                margin-bottom: 20px;
            }
        }

        @media (max-width: 992px) {
            grid-template-columns: repeat(1, 1fr);
        }

        @media (max-width: 768px) {
            margin-top: 32px;
        }

        @media (max-width: 576px) {
            margin-top: 24px;
        }
    }

    @media (max-width: 1200px) {
        padding: $mf-spacing-section-md 0;
    }

    @media (max-width: 992px) {
        text-align: center;
        padding: $mf-spacing-section-sm 0;
    }
}

.mf_section_training {
    background: $mf-background-section-orange;
    padding: $mf-spacing-section-lg 0;

    .list-training {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 24px;
        justify-content: center;
        margin-top: 56px;

        @media (max-width: 992px) {
            grid-template-columns: repeat(1, 1fr);
            margin-bottom: $mf-spacing-section-sm;
            gap: 56px;
        }

        @media (max-width: 768px) {
            margin-top: 32px;
        }

        @media (max-width: 576px) {
            margin-top: 24px;
        }
    }

    .item-training {
        position: relative;

        img {
            border-radius: 48px;
            width: 100%;
        }
    }

    .content,
    .btn-dark {
        position: absolute;
        z-index: 10;
        left: 50%;
        transform: translateX(-50%);
    }

    .content {
        top: 16px;
        color: $mf-color-pastel-pink;
        width: 80%;
        text-align: center;

        .title {
            position: relative;
            font-size: 32px;
            margin-bottom: 16px;
            text-transform: capitalize;
            display: inline-block;

            &::before {
                content: "";
                background: $mf-background-section-orange;
                height: 22px;
                position: absolute;
                z-index: -1;
                bottom: 0;
                left: 50%;
                width: calc(100% + 44px);
                transform: translateX(-50%) skew(343deg);
            }

            @media (max-width: 576px) {
                font-size: 24px;
                margin-bottom: 8px;
            }
        }
        .description {
            margin-bottom: 0;

            @media (max-width: 1200px) {
                display: none;
            }
        }
    }

    .btn-dark {
        bottom: -20px;

        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 20px;
            border: 3px solid $mf-color-primary;
        }
    }

    @media (max-width: 1200px) {
        padding: $mf-spacing-section-md 0;
    }

    @media (max-width: 992px) {
        text-align: center;
        padding: $mf-spacing-section-sm 0;
    }
}

.mf_section_benefit {
    background: $mf-background-section-dark;
    padding: $mf-spacing-section-lg 0;

    .mf_benefit_wrapper {
        margin-top: 56px;

        @media (max-width: 768px) {
            margin-top: 32px;
        }

        @media (max-width: 576px) {
            margin-top: 24px;
        }
    }

    .list-benefit {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 16px;
        width: 100%;
        padding: 24px;

        .item-benefit {
            display: flex;
            gap: 16px;

            p {
                color: $mf-color-pastel-pink;
                font-size: 20px;
                margin-bottom: 0;

                @media (max-width: 1200px) {
                    font-size: 16px;
                }
            }
        }

        @media (max-width: 992px) {
            gap: 8px;
        }
    }

    .benefit-swiper {
        .swiper-slide {
            img {
                border-top-right-radius: 120px;
                width: 100%;
                height: auto;
                transition: 0.3s all ease-in-out;
                @media (max-width: 576px) {
                    border-top-right-radius: 60px;
                }
            }
        }

        .swiper-pagination {
            position: static;
            text-align: left;
            margin-top: 16px;

            .swiper-pagination-bullet {
                margin: 0;
                width: $mf-size-pagination-swiper;
                height: $mf-size-pagination-swiper;
                background-color: transparent;
                border: 2px solid $mf-color-pastel-pink;

                + .swiper-pagination-bullet {
                    margin-left: 24px;

                    @media (max-width: 768px) {
                        margin-left: 16px;
                    }
                }
            }

            .swiper-pagination-bullet-active {
                background: $mf-color-pastel-pink;
            }

            @media (max-width: 992px) {
                text-align: center;
            }
        }
        @media (max-width: 992px) {
            margin-top: 32px;
        }
    }

    @media (max-width: 1200px) {
        padding: $mf-spacing-section-md 0;
    }

    @media (max-width: 992px) {
        text-align: center;
        padding: $mf-spacing-section-sm 0;
    }
}

.mf_section_studio {
    .watermark {
        color: #ffffff;
        font-size: 56px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        mix-blend-mode: overlay;
        text-transform: capitalize;
        text-align: center;

        @media (max-width: 1200px) {
            font-size: 48px;
        }

        @media (max-width: 992px) {
            font-size: 32px;
        }

        @media (max-width: 768px) {
            font-size: 24px;
        }
    }

    .studio-swiper {
        .swiper-slide {
            img {
                width: 100%;
                height: auto;
            }
        }

        .swiper-horizontal > .swiper-pagination-bullets,
        .swiper-pagination-bullets.swiper-pagination-horizontal,
        .swiper-pagination-custom,
        .swiper-pagination-fraction {
            bottom: 56px;

            @media (max-width: 992px) {
                bottom: 32px;
            }

            @media (max-width: 768px) {
                bottom: 24px;
            }

            @media (max-width: 576px) {
                bottom: 16px;
            }
        }

        .swiper-pagination {
            .swiper-pagination-bullet {
                width: $mf-size-pagination-swiper;
                height: $mf-size-pagination-swiper;
                background-color: transparent;
                border: 2px solid #000000;
            }

            .swiper-pagination-bullet-active {
                background: #000000;
            }

            .swiper-horizontal
                > .swiper-pagination-bullets
                .swiper-pagination-bullet,
            .swiper-pagination-horizontal.swiper-pagination-bullets
                .swiper-pagination-bullet {
                margin: 0 $mf-spacing-pagination-swiper;
            }
        }
    }
}

.mf_section_contact {
    background: $mf-background-section-orange;
    padding: $mf-spacing-section-lg 0;

    .mf_title {
        margin-top: 32px;
        margin-bottom: 56px;
        z-index: 1;
        &:after {
            content: "";
            position: absolute;
            background-image: url("../../images/decorate/2.png");
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 214px;
            height: 110px;
            z-index: -1;

            @media (max-width: 992px) {
                transform: translate(-50%, -50%) scale(0.8);
            }

            @media (max-width: 576px) {
                transform: translate(-50%, -50%) scale(0.5);
            }
        }
        @media (max-width: 768px) {
            margin-bottom: 32px;
        }
        @media (max-width: 576px) {
            margin-top: 16px;
            margin-bottom: 24px;
        }
    }

    .contacts-information {
        padding-top: 34px;

        .address {
            font-size: 18px;
            margin-bottom: 8px;

            @media (max-width: 1200px) {
                font-size: 16px;
            }
        }

        .hotline {
            font-weight: 700;
            font-size: 32px;

            @media (max-width: 1200px) {
                font-size: 24px;
            }
        }

        .socials {
            display: flex;
            gap: 16px;
            margin-top: 32px;

            @media (max-width: 992px) {
                justify-content: center;
            }
        }

        @media (max-width: 992px) {
            padding-top: 0;
            margin-top: 32px;
        }
    }

    .mf_form_contact {
        .col-md-6 {
            + .col-md-6 {
                @media (max-width: 576px) {
                    margin-top: 16px;
                }
            }
        }
    }

    textarea {
        &.form-control {
            min-height: calc((70px * 2) + 16px - 24px);
            resize: none;
        }
    }

    form {
        label {
            color: #ffffff;
        }
    }

    .form_group {
        text-align: left;
        + .form_group {
            margin-top: 16px;
        }
    }

    .form-control {
        background-color: rgba($color: #ffe5e5, $alpha: 0.4);
    }

    .form_submit {
        margin-top: calc(24px + 10px + 16px);
    }

    .col-lg-4 {
        @media (max-width: 992px) {
            order: 2;
        }
    }

    .col-lg-8 {
        @media (max-width: 992px) {
            order: 1;
        }
    }

    @media (max-width: 1200px) {
        padding: $mf-spacing-section-md 0;
    }

    @media (max-width: 992px) {
        text-align: center;
        padding: $mf-spacing-section-sm 0;
    }
}
