.mf_footer{
    background: linear-gradient(90deg, #000000 0%, #322B48 52%, #332C44 81%, #352F3D 100%);

    .o_footer_copyright_name{
        font-size: 1.25rem;
        line-height: 1.5rem;
        color: $color-cream-white;

        @include respond-to-mobile{
            font-size: 0.75rem;
            line-height: 1.125rem;
        }
    }
}