.mf_footer {
    background: linear-gradient(90deg,
            #000000 0%,
            #322b48 52%,
            #332c44 81%,
            #352f3d 100%);

    .o_footer_copyright_name {
        color: #ffffff;

        @media (max-width: 576px) {
            font-size: 14px;
        }
    }
}