$font-default:'SVN-Gilroy', sans-serif;
$font-secondary: 'Inter', sans-serif;

//colors
$color-white: #ffffff;
$color-orange: #3fc0b6;
$color-black: #000000;
$color-black-1: #242424;

$color-primary: #FF5B26;
$color-secondary: #120F2F;
$color-cream-white:#FFE5E5;
$color-cream-white-1:#EFDCDC;


//fon-size
$font-size-h1: 36px;
$font-size-h6:14px;
$font-size-subheading:25px;
$font-size-text: 14px;
$font-size-s:15px;
$font-size-demo:40px;
$font-size-form:12px;
$font-sub-head:16px;
$font-sub-blog:20px;


$spacing_bw_large: 120px;
$spacing_bw_small: 40px;

$space_large: 100px;
$space_medium: 50px;
$space_small: 24px;

$size-pagination-swiper: 12px;
$size_pagination-swiper-small: 8px;
$space-pagination-swiper: 12px;