[class*="wrapwrap_mf_"] {
    scroll-behavior: smooth;
}

[class*="oe_structure_mf_homepage"] {
    overflow-x: hidden;
}

.content-box-has-border {
    position: relative;
    border: 10px solid #ffffff;
    border-image-slice: 1;
    border-width: 1px;
    padding: 24px;

    .top-left-square {
        @include border-square("left", "top", 12px);
    }

    .top-right-square {
        @include border-square("right", "top", 12px);
    }

    .bottom-left-square {
        @include border-square("left", "bottom", 12px);
    }

    .bottom-right-square {
        @include border-square("right", "bottom", 12px);
    }

    &.border-color-primary {
        border-image-source: linear-gradient(
            90deg,
            #f3ae5f 0%,
            #f3a65e 2%,
            #f28b5a 8%,
            #f27857 14%,
            #f26d56 20%,
            #f26955 27%,
            #ff5b26 57%,
            #f31f4f 88%,
            #d62970 100%
        );

        .top-left-square,
        .top-right-square,
        .bottom-left-square,
        .bottom-right-square {
            background: linear-gradient(
                90deg,
                #f3ae5f 0%,
                #f3a65e 2%,
                #f28b5a 8%,
                #f27857 14%,
                #f26d56 20%,
                #f26955 27%,
                #ff5b26 57%,
                #f31f4f 88%,
                #d62970 100%
            );
        }
    }

    @media (max-width: 576px) {
        padding: 16px;
    }
}

.mf_title {
    position: relative;
    font-size: 38px;
    font-weight: 700;
    line-height: 1.4;
    margin-bottom: 0;
    text-transform: uppercase;

    @media (max-width: 992px) {
        font-size: 32px;
    }
    @media (max-width: 768px) {
        font-size: 28px;
    }
}

.decorate {
    pointer-events: none;

    &_style--01 {
        position: absolute;
        bottom: -90px;
        right: -50px;
        z-index: 2;
        @media (max-width: 576px) {
            width: 60%;
            bottom: -58px;
        }
    }

    &_style--02 {
        position: absolute;
        left: -40px;
        bottom: -55px;
        z-index: 10;
        @media (max-width: 576px) {
            width: 35%;
            bottom: -40px;
            right: -30px;
        }
    }

    &_style--03 {
        position: absolute;
        left: 0;
        bottom: 0;
        max-width: 50%;
        width: 100%;
    }
}

.swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    border: 2px solid $mf-color-pastel-pink;
    background-color: transparent;
    @media (max-width: 768px) {
        width: 8px;
        height: 8px;
    }
}

.swiper-pagination-bullet-active {
    background: $mf-color-pastel-pink;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
    .swiper-pagination-bullet {
    margin: 0 12px;
    @media (max-width: 768px) {
        margin: 0 8px;
    }
}
