form {
    label {
        margin-bottom: 0.625rem;
        &.error {
            margin-top: 0.625rem;
        }
    }
}

.form-control {
    border-radius: 1.25rem;
    border-color: transparent;
    &:focus {
        border-color: transparent;
    }
}
