@mixin border-square($x, $y, $size) {
    position: absolute;
    background-color: #ffffff;
    width: $size;
    height: $size;
    #{$y}: -$size / 2;
    #{$x}: -$size / 2;
    @media (max-width: 576px) {
        width: $size / 1.5;
        height: $size / 1.5;
        #{$y}: -($size / 1.5) / 2;
        #{$x}: -($size / 1.5) / 2;
    }
}

@mixin text-truncate($line) {
    display: -webkit-box;
    -webkit-line-clamp: $line;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
}
