// FONTS
$mf-font-default: "SVN-Gilroy", sans-serif;

// BACKGROUND
$mf-background-section-orange: linear-gradient(
    46.46deg,
    #f3ae5f 0%,
    #f3a65e 2%,
    #f28b5a 8%,
    #f27857 14%,
    #f26d56 20%,
    #f26955 27%,
    #ff5b26 57%,
    #f31f4f 88%,
    #d62970 100%
);
$mf-background-section-dark: linear-gradient(
    46.13deg,
    #000000 0%,
    #322b48 52%,
    #332c44 81%,
    #352f3d 100%
);
$mf-background-header-dark: #04030e;

//COLORS
$mf-color-primary: #ff5c33;
$mf-color-secondary: #120f2f;
$mf-color-pastel-pink: #ffe5e5;

//SPACING SIZE
$mf-spacing-section-lg: 80px;
$mf-spacing-section-md: 60px;
$mf-spacing-section-sm: 40px;

$mf-size-pagination-swiper: 12px;
$mf-spacing-pagination-swiper: 12px;

// OVERWIRTE ODOO
$o-color-palettes: map-merge(
    $o-color-palettes,
    (
        "base-1": (
            "o-color-1": $mf-color-primary,
            "o-color-2": $mf-color-secondary,
            "o-color-3": $mf-color-pastel-pink,
            "o-color-4": #ffffff,
            "o-color-5": #212529,
        ),
    )
);
