@font-face {
  font-family: "Inter";
  src: url("Inter-ExtraLight.woff2") format("woff2"), url("Inter-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("Inter-Bold.woff2") format("woff2"), url("Inter-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("Inter-ExtraBold.woff2") format("woff2"), url("Inter-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("Inter-Black.woff2") format("woff2"), url("Inter-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("Inter-Regular.woff2") format("woff2"), url("Inter-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("Inter-Light.woff2") format("woff2"), url("Inter-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("Inter-Medium.woff2") format("woff2"), url("Inter-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("Inter-SemiBold.woff2") format("woff2"), url("Inter-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("Inter-Thin.woff2") format("woff2"), url("Inter-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SVN-Gilroy";
  src: url("SVN-GilroyBlack.woff2") format("woff2"), url("SVN-GilroyBlack.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SVN-Gilroy";
  src: url("SVN-GilroyBlackItalic.woff2") format("woff2"), url("SVN-GilroyBlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "SVN-Gilroy";
  src: url("SVN-GilroyBoldItalic.woff2") format("woff2"), url("SVN-GilroyBoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "SVN-Gilroy";
  src: url("SVN-GilroyMediumItalic.woff2") format("woff2"), url("SVN-GilroyMediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "SVN-Gilroy";
  src: url("SVN-GilroyBold.woff2") format("woff2"), url("SVN-GilroyBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SVN-Gilroy";
  src: url("SVN-GilroyHeavy.woff2") format("woff2"), url("SVN-GilroyHeavy.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SVN-Gilroy";
  src: url("SVN-GilroyLightItalic.woff2") format("woff2"), url("SVN-GilroyLightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "SVN-Gilroy";
  src: url("SVN-Gilroy.woff2") format("woff2"), url("SVN-Gilroy.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SVN-Gilroy";
  src: url("SVN-GilroyHeavyItalic.woff2") format("woff2"), url("SVN-GilroyHeavyItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "SVN-Gilroy";
  src: url("SVN-GilroyMedium.woff2") format("woff2"), url("SVN-GilroyMedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SVN-Gilroy";
  src: url("SVN-GilroyLight.woff2") format("woff2"), url("SVN-GilroyLight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SVN-Gilroy";
  src: url("SVN-GilroyItalic.woff2") format("woff2"), url("SVN-GilroyItalic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "SVN-Gilroy XBold";
  src: url("SVN-GilroyXBoldItalic.woff2") format("woff2"), url("SVN-GilroyXBoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "SVN-Gilroy XLight";
  src: url("SVN-GilroyXLightItalic.woff2") format("woff2"), url("SVN-GilroyXLightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "SVN-Gilroy";
  src: url("SVN-GilroyThinItalic.woff2") format("woff2"), url("SVN-GilroyThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "SVN-Gilroy";
  src: url("SVN-GilroyThin.woff2") format("woff2"), url("SVN-GilroyThin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SVN-Gilroy";
  src: url("SVN-GilroySemiBoldItalic.woff2") format("woff2"), url("SVN-GilroySemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "SVN-Gilroy";
  src: url("SVN-GilroySemiBold.woff2") format("woff2"), url("SVN-GilroySemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SVN-Gilroy XLight";
  src: url("SVN-GilroyXLight.woff2") format("woff2"), url("SVN-GilroyXLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SVN-Gilroy XBold";
  src: url("SVN-GilroyXBold.woff2") format("woff2"), url("SVN-GilroyXBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

*:focus {
  outline: 0 !important;
}

* button:focus {
  border: none;
  outline: none;
  box-shadow: none;
}

* {
  list-style-type: none;
  text-decoration: none;
  font-family: "SVN-Gilroy", sans-serif;
  font-size: 16px;
}
*:focus, *:active {
  outline: none !important;
}

*:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

html {
  scroll-behavior: smooth;
}

.mf_container {
  width: 100%;
  padding: 120px 100px;
}
@media (max-width: 480px) {
  .mf_container {
    padding: 40px 24px;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  .mf_container {
    padding: 40px 24px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .mf_container {
    padding: 120px 50px;
  }
}

.mf_title {
  font-size: 4.5rem;
  line-height: 6.75rem;
  font-weight: 700;
  font-family: "SVN-Gilroy", sans-serif;
  margin-top: 0;
  text-transform: uppercase;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}
@media (max-width: 480px) {
  .mf_title {
    font-size: 1.5rem;
    line-height: 2.25rem;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  .mf_title {
    font-size: 2rem;
    line-height: 2.75rem;
  }
}

.mf_button {
  padding: 0.75rem 4.25rem;
  border-radius: 2.125rem;
  border: none;
  background-size: 300% 100%;
  -o-moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  background-image: linear-gradient(90deg, #E8ABBE 0%, #E4BDCB 8%, #E1CCD6 18%, #E0D1DA 26%, #E1CAD5 46%, #E6B8C8 75%, #E8ADC0 87%, #E0D1DA 100%);
}
.mf_button:focus-visible {
  outline: none;
}
.mf_button:hover {
  background-position: 99% 0;
  -o-moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.mf_button a {
  color: #120F2F;
  font-size: 1.75rem;
  line-height: 2.625rem;
  font-weight: 600;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}
.mf_button a:hover {
  text-decoration: none;
}
@media (max-width: 480px) {
  .mf_button a {
    font-size: 0.875rem;
    line-height: 1.131rem;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  .mf_button a {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}
@media (max-width: 480px) {
  .mf_button {
    padding: 0.75rem 3rem;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  .mf_button {
    padding: 1rem 3rem;
  }
}

.top-left-square {
  width: 1rem;
  height: 1rem;
  position: absolute;
  top: -0.5rem;
  left: -0.5rem;
}

.top-right-square {
  width: 1rem;
  height: 1rem;
  position: absolute;
  top: -0.5rem;
  right: -0.5rem;
}

.bottom-left-square {
  width: 1rem;
  height: 1rem;
  position: absolute;
  bottom: -0.5rem;
  left: -0.5rem;
}

.bottom-right-square {
  width: 1rem;
  height: 1rem;
  position: absolute;
  bottom: -0.5rem;
  right: -0.5rem;
}

.mf_navbar {
  width: 100%;
  padding: 0 120px;
  color: white;
  min-height: 128px;
}
.mf_navbar-links {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.mf_navbar-links .mf_collapse {
  display: flex;
}
@media screen and (max-width: 992px) {
  .mf_navbar-links .mf_collapse {
    position: absolute;
    top: 128px;
    left: -100%;
    height: 100vh;
    width: 100%;
    background: transparent;
    background-color: #000000;
  }
  .mf_navbar-links .mf_collapse.show {
    left: 0;
    transition: all 0.5s;
  }
}
.mf_navbar-links .mf_collapse .nav-item {
  text-align: center;
}
@media screen and (max-width: 992px) {
  .mf_navbar-links .mf_collapse .nav-item {
    padding: 1rem 2rem;
  }
}
.mf_navbar-links .mf_collapse .nav-link {
  padding: 1.25rem;
  color: #ffffff;
}
.mf_navbar-links .mf_collapse .nav-link span {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2.25rem;
}
.mf_navbar-links .mf_collapse .nav-link.active {
  color: #FF5B26;
}
.mf_navbar-links .mf_collapse .nav-link:hover {
  color: #FF5B26;
}
.mf_navbar-links .navbar-toggler:focus-visible {
  outline: none;
}
.mf_navbar-links .navbar-toggler:focus {
  box-shadow: none;
}
@media (max-width: 480px) {
  .mf_navbar-links .navbar-toggler {
    display: none;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  .mf_navbar-links .navbar-toggler {
    display: none;
  }
}
.mf_navbar-links .navbar-toggler-icon {
  filter: brightness(0) invert(1);
}
.mf_navbar-links .navbar-toggler-icon:focus-visible {
  outline: none;
}
@media (max-width: 480px) {
  .mf_navbar-links {
    justify-content: center;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  .mf_navbar-links {
    justify-content: center;
  }
}
.mf_navbar.mf_nav_bg {
  background: #000000;
}

.o_header_affixed .mf_navbar {
  background: linear-gradient(90deg, #000000 0%, #322B48 52%, #332C44 81%, #352F3D 100%);
}
.o_header_affixed .mf_navbar.mf_nav_bg {
  background: #000000;
}

.mf_navbar_position_absolute {
  position: absolute;
  background: transparent;
}

.mf_navbar_position_initial {
  position: inherit;
  background: linear-gradient(90deg, #000000 0%, #322B48 52%, #332C44 81%, #352F3D 100%);
}

header .navbar-brand.logo img, .o_header_affixed.o_header_is_scrolled .navbar-brand img {
  height: 100%;
}

.mf_footer {
  background: linear-gradient(90deg, #000000 0%, #322B48 52%, #332C44 81%, #352F3D 100%);
}
.mf_footer .o_footer_copyright_name {
  font-size: 1.25rem;
  line-height: 1.5rem;
  color: #FFE5E5;
}
@media (max-width: 480px) {
  .mf_footer .o_footer_copyright_name {
    font-size: 0.75rem;
    line-height: 1.125rem;
  }
}

#wrapwrap {
  scroll-behavior: smooth;
}

.mf_herobanner .mf_hero_content {
  z-index: 10;
  position: absolute;
  max-width: 525px;
  top: 50%;
  left: 100px;
  transform: translateY(-50%);
  color: white;
}
.mf_herobanner .mf_hero_content h1 {
  font-size: 5.25rem;
  font-weight: 700;
  font-family: "SVN-Gilroy", sans-serif;
  line-height: 7.5rem;
  margin-top: 0;
  margin-bottom: 1rem;
  background: linear-gradient(0deg, #F36563 0%, #F36360 26%, #F35E57 45%, #F35447 62%, #F34730 77%, #F33614 92%, #F32A00 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  text-transform: uppercase;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}
@media (max-width: 480px) {
  .mf_herobanner .mf_hero_content h1 {
    font-size: 1.5rem;
    line-height: 2.25rem;
    width: 150px;
    margin: 0 auto;
    margin-bottom: 1rem;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  .mf_herobanner .mf_hero_content h1 {
    font-size: 1.5rem;
    line-height: 2.25rem;
    width: 150px;
    margin: 0 auto;
    margin-bottom: 1rem;
  }
}
.mf_herobanner .mf_hero_content p {
  font-size: 1.5rem;
  line-height: 2.25rem;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}
@media (max-width: 480px) {
  .mf_herobanner .mf_hero_content p {
    font-size: 0.875rem;
    line-height: 1.313rem;
    margin-bottom: 1.5rem;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  .mf_herobanner .mf_hero_content p {
    font-size: 1rem;
    line-height: 1.5rem;
    margin-bottom: 1.5rem;
  }
}
.mf_herobanner .mf_hero_content button {
  background-image: linear-gradient(90deg, #F3AE5F 0%, #F3A65E 2%, #F28B5A 8%, #F27857 14%, #F26D56 20%, #F26955 27%, #FF5B26 57%, #F31F4F 88%, #D62970 100%);
}
@media (max-width: 480px) {
  .mf_herobanner .mf_hero_content {
    text-align: center;
    left: 24px;
    right: 24px;
    top: 120px;
    transform: initial;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  .mf_herobanner .mf_hero_content {
    text-align: center;
    left: 24px;
    right: 24px;
    top: 180px;
    transform: initial;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .mf_herobanner .mf_hero_content {
    left: 50px;
  }
}
.mf_herobanner .mf_hero_banner_mobile {
  display: none;
}
@media (max-width: 480px) {
  .mf_herobanner .mf_hero_banner_mobile {
    display: block;
    width: 100%;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  .mf_herobanner .mf_hero_banner_mobile {
    display: block;
    width: 100%;
  }
}
.mf_herobanner .mf_hero_swiper {
  height: 100vh;
}
@media (max-width: 480px) {
  .mf_herobanner .mf_hero_swiper {
    display: none;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  .mf_herobanner .mf_hero_swiper {
    display: none;
  }
}
.mf_herobanner .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  border: 0.5px solid #FF5B26;
  opacity: 1;
  background-color: transparent;
}
@media (max-width: 480px) {
  .mf_herobanner .swiper-pagination .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
  }
}
.mf_herobanner .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #FF5B26;
}
.mf_herobanner .swiper-horizontal > .swiper-pagination-bullets, .mf_herobanner .swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 90px;
}
.mf_herobanner .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, .mf_herobanner .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 12px;
}

.mf_bio-elec {
  background: linear-gradient(46.46deg, #F3AE5F 0%, #F3A65E 2%, #F28B5A 8%, #F27857 14%, #F26D56 20%, #F26955 27%, #FF5B26 57%, #F31F4F 88%, #D62970 100%);
}
.mf_bio-elec .img_bg {
  width: 564px;
  position: absolute;
  bottom: -161px;
  right: 0;
  z-index: 2;
}
@media (max-width: 480px) {
  .mf_bio-elec .img_bg {
    display: none;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  .mf_bio-elec .img_bg {
    display: none;
  }
}
.mf_bio-elec-wrapper {
  display: inline-block;
  width: 100%;
}
.mf_bio-elec-wrapper .mf_bio_elec-img .img-desktop {
  width: 45%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  z-index: 1;
}
@media (max-width: 480px) {
  .mf_bio-elec-wrapper .mf_bio_elec-img .img-desktop {
    display: none;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  .mf_bio-elec-wrapper .mf_bio_elec-img .img-desktop {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .mf_bio-elec-wrapper .mf_bio_elec-img .img-desktop {
    display: none;
  }
}
.mf_bio-elec-wrapper .mf_bio_elec-img .img-mobile {
  width: 100%;
  height: 100%;
}
@media (max-width: 480px) {
  .mf_bio-elec-wrapper .mf_bio_elec-img .img-mobile {
    display: block;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  .mf_bio-elec-wrapper .mf_bio_elec-img .img-mobile {
    display: block;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .mf_bio-elec-wrapper .mf_bio_elec-img .img-mobile {
    display: block;
  }
}
@media (min-width: 1024px) {
  .mf_bio-elec-wrapper .mf_bio_elec-img .img-mobile {
    display: none;
  }
}
@media (max-width: 480px) {
  .mf_bio-elec-wrapper .mf_button {
    display: none;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  .mf_bio-elec-wrapper .mf_button {
    display: none;
  }
}
@media (max-width: 480px) {
  .mf_bio-elec-wrapper {
    display: flex;
    flex-direction: column-reverse;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  .mf_bio-elec-wrapper {
    display: flex;
    flex-direction: column-reverse;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .mf_bio-elec-wrapper {
    display: flex;
    flex-direction: column-reverse;
  }
}
.mf_bio-elec__content {
  max-width: 994px;
  text-align: right;
  margin-left: auto;
  margin-right: 100px;
  margin-bottom: 208px;
  margin-top: 120px;
  position: inherit;
  z-index: 2;
}
@media (max-width: 480px) {
  .mf_bio-elec__content {
    text-align: center;
    margin-right: 24px;
    max-width: calc(100% - 48px);
    margin-bottom: 0;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  .mf_bio-elec__content {
    text-align: center;
    margin-right: 24px;
    max-width: calc(100% - 48px);
    margin-bottom: 0;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .mf_bio-elec__content {
    margin-right: 50px;
    margin-left: 50px;
  }
}
@media (min-width: 1020px) and (max-width: 1200px) {
  .mf_bio-elec__content {
    margin-right: 0;
    width: 100%;
    padding: 0 100px;
  }
}
.mf_bio-elec h1 {
  max-width: 724px;
  margin-left: auto;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}
@media (max-width: 480px) {
  .mf_bio-elec h1 {
    -webkit-line-clamp: 3;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  .mf_bio-elec h1 {
    -webkit-line-clamp: 3;
  }
}
.mf_bio-elec__main-content {
  position: relative;
  margin-bottom: 3.5rem;
  border: 10px solid white;
  border-image-slice: 1;
  border-width: 1px;
}
.mf_bio-elec__main-content .top-left-square, .mf_bio-elec__main-content .top-right-square, .mf_bio-elec__main-content .bottom-left-square, .mf_bio-elec__main-content .bottom-right-square {
  background-color: #ffffff;
}
.mf_bio-elec__main-content p {
  margin: 2.625rem 5.125rem;
  font-size: 2rem;
  line-height: 3rem;
  font-weight: 400;
  color: #ffffff;
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}
@media (max-width: 480px) {
  .mf_bio-elec__main-content p {
    margin: 1.5rem;
    -webkit-line-clamp: 20;
    font-size: 1rem;
    line-height: 1.5rem;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  .mf_bio-elec__main-content p {
    margin: 1rem 1rem;
    -webkit-line-clamp: 10;
    font-size: 1.5rem;
    line-height: 2rem;
  }
}
@media (max-width: 480px) {
  .mf_bio-elec__main-content {
    margin-bottom: 0;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  .mf_bio-elec__main-content {
    margin-bottom: 0;
  }
}

.mf_suit {
  background: linear-gradient(46.13deg, #000000 0%, #322B48 52%, #332C44 81%, #352F3D 100%);
}
.mf_suit__content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.mf_suit__content h1 {
  color: #FF5B26;
  text-align: center;
  margin-bottom: 56px;
}
@media (max-width: 480px) {
  .mf_suit__content h1 {
    margin-bottom: 1rem;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  .mf_suit__content h1 {
    margin-bottom: 1rem;
  }
}
.mf_suit__content .mf_button {
  margin: 0 auto;
  margin-top: 32px;
  margin-bottom: 112px;
}
@media (max-width: 480px) {
  .mf_suit__content .mf_button {
    display: none;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  .mf_suit__content .mf_button {
    display: none;
  }
}
.mf_suit__content .suit_ico {
  width: 470px;
  position: absolute;
  left: -40px;
  bottom: -120px;
  z-index: 10;
}
@media (max-width: 480px) {
  .mf_suit__content .suit_ico {
    display: none;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  .mf_suit__content .suit_ico {
    display: none;
  }
}
.mf_suit__main_content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 34px;
}
.mf_suit__main_content .mf_suit_swiper {
  width: 100%;
  display: none;
}
.mf_suit__main_content .mf_suit_swiper .swiper-pagination .swiper-pagination-bullet {
  margin: 0 4px;
  width: 8px;
  height: 8px;
  background-color: transparent;
  border: 1px solid #FFE5E5;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .mf_suit__main_content .mf_suit_swiper .swiper-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    margin: 0 6px;
  }
}
.mf_suit__main_content .mf_suit_swiper .swiper-pagination .swiper-pagination-bullet-active {
  background: #FFE5E5;
}
@media (max-width: 480px) {
  .mf_suit__main_content .mf_suit_swiper {
    display: block;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  .mf_suit__main_content .mf_suit_swiper {
    display: block;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .mf_suit__main_content .mf_suit_swiper {
    display: block;
  }
}
.mf_suit__main_content .mf_suit__text {
  display: flex;
  margin-bottom: 3.5rem;
}
.mf_suit__main_content .mf_suit__text h6 {
  color: #FF5B26;
  font-weight: 700;
  font-size: 3.5rem;
  line-height: 1.5rem;
  margin-right: 0.5rem;
}
@media (max-width: 480px) {
  .mf_suit__main_content .mf_suit__text h6 {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  .mf_suit__main_content .mf_suit__text h6 {
    font-size: 2rem;
    line-height: 2rem;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .mf_suit__main_content .mf_suit__text h6 {
    line-height: 2.5rem;
  }
}
.mf_suit__main_content .mf_suit__text p {
  font-size: 1.75rem;
  line-height: 2.625rem;
  color: #ffffff;
  margin-bottom: 0;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}
@media (max-width: 480px) {
  .mf_suit__main_content .mf_suit__text p {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  .mf_suit__main_content .mf_suit__text p {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}
@media (max-width: 480px) {
  .mf_suit__main_content .mf_suit__text {
    flex-direction: column;
    text-align: center;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  .mf_suit__main_content .mf_suit__text {
    flex-direction: column;
    text-align: center;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .mf_suit__main_content .mf_suit__text {
    flex-direction: column;
    text-align: center;
  }
}
.mf_suit__main_content-right, .mf_suit__main_content-left {
  max-width: 500px;
  margin-top: 86px;
}
@media (max-width: 480px) {
  .mf_suit__main_content-right, .mf_suit__main_content-left {
    display: none;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  .mf_suit__main_content-right, .mf_suit__main_content-left {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .mf_suit__main_content-right, .mf_suit__main_content-left {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .mf_suit__main_content-right, .mf_suit__main_content-left {
    max-width: 100%;
    margin-top: 0;
    flex: 0 0 48%;
  }
}
@media (min-width: 1024px) and (max-width: 1679px) {
  .mf_suit__main_content-right, .mf_suit__main_content-left {
    flex: 0 0 48%;
    max-width: 100%;
  }
}
.mf_suit__main_content-right .mf_suit__text:last-child, .mf_suit__main_content-left .mf_suit__text:last-child {
  margin-bottom: 0;
}
@media (min-width: 480px) and (max-width: 768px) {
  .mf_suit__main_content-left .mf_suit__text:last-child {
    margin-bottom: 3.5rem;
  }
}
.mf_suit__main_content-center {
  margin: 0 -44px 0 -66px;
}
.mf_suit__main_content-center img {
  width: 100%;
}
@media (max-width: 480px) {
  .mf_suit__main_content-center {
    order: 2;
    height: auto;
    margin: 0;
    margin-bottom: 20px;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  .mf_suit__main_content-center {
    order: 2;
    height: auto;
    margin: 0;
    margin-bottom: 20px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .mf_suit__main_content-center {
    order: 2;
    height: auto;
    margin: 0;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 1679px) {
  .mf_suit__main_content-center {
    height: 100%;
  }
}
@media (max-width: 480px) {
  .mf_suit__main_content {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  .mf_suit__main_content {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .mf_suit__main_content {
    grid-template-columns: repeat(1, 1fr);
  }
}

.mf_training {
  background: linear-gradient(46.79deg, #F3AE5F 0%, #F3A65E 2%, #F28B5A 8%, #F27857 14%, #F26D56 20%, #F26955 27%, #FF5B26 57%, #F31F4F 88%, #D62970 100%);
}
.mf_training .img_bg {
  width: 350px;
  position: absolute;
  z-index: 2;
  right: 0;
  bottom: -180px;
}
@media (max-width: 480px) {
  .mf_training .img_bg {
    display: none;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  .mf_training .img_bg {
    display: none;
  }
}
.mf_training__content {
  display: inline-block;
}
.mf_training__content .mf_title {
  text-align: center;
  margin-bottom: 64px;
}
.mf_training__main-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4.5rem;
  margin-bottom: 140px;
  justify-content: center;
}
@media (max-width: 480px) {
  .mf_training__main-content {
    grid-template-columns: repeat(1, 1fr);
    margin-bottom: 40px;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  .mf_training__main-content {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .mf_training__main-content {
    grid-template-columns: repeat(1, 600px);
  }
}
@media (min-width: 1024px) and (max-width: 1200px) {
  .mf_training__main-content {
    grid-template-columns: repeat(1, 600px);
  }
}
.mf_training__content-item {
  position: relative;
}
.mf_training__content-item img {
  border-radius: 48px;
  width: 100%;
}
.mf_training__item-title, .mf_training .mf_button_small {
  position: absolute;
  z-index: 10;
  left: 50%;
  transform: translateX(-50%);
}
.mf_training__item-title {
  top: 36px;
  color: #FFE5E5;
  font-family: "Inter", sans-serif;
  width: 80%;
  text-align: center;
}
.mf_training__item-title h2 {
  position: relative;
  font-size: 4rem;
  line-height: 6rem;
  margin-bottom: 1rem;
  text-transform: capitalize;
  display: inline-block;
}
.mf_training__item-title h2::before {
  content: "";
  background: linear-gradient(90deg, #F3AE5F 0%, #F3A65E 2%, #F28B5A 8%, #F27857 14%, #F26D56 20%, #F26955 27%, #FF5B26 57%, #F31F4F 88%, #D62970 100%);
  height: 1.625rem;
  position: absolute;
  z-index: -1;
  bottom: 0.75rem;
  left: -2.25rem;
  right: -1.25rem;
  transform: skew(343deg);
}
@media (max-width: 480px) {
  .mf_training__item-title h2::before {
    left: -1rem;
    right: -0.5rem;
    height: 1.2rem;
    margin-bottom: 0;
    bottom: 0;
  }
}
@media (max-width: 480px) {
  .mf_training__item-title h2 {
    font-size: 2rem;
    line-height: 3rem;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  .mf_training__item-title h2 {
    font-size: 2.9rem;
    line-height: 4rem;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .mf_training__item-title h2 {
    font-size: 2.9rem;
    line-height: 4rem;
  }
}
@media (min-width: 1024px) and (max-width: 1200px) {
  .mf_training__item-title h2 {
    font-size: 2.9rem;
    line-height: 4rem;
  }
}
@media (min-width: 1200px) and (max-width: 1440px) {
  .mf_training__item-title h2 {
    font-size: 2.5rem;
    line-height: 3.625rem;
  }
}
.mf_training__item-title p {
  text-align: center;
  font-weight: 700;
  font-size: 2rem;
  line-height: 3rem;
  text-transform: uppercase;
}
@media (max-width: 480px) {
  .mf_training__item-title p {
    font-size: 1.5rem;
    line-height: 2.25rem;
  }
}
.mf_training__item-title p span {
  font-size: 3.25rem;
  line-height: 3.875rem;
}
@media (max-width: 480px) {
  .mf_training__item-title p span {
    font-size: 1.5rem;
    line-height: 2.25rem;
  }
}
@media (max-width: 480px) {
  .mf_training__item-title {
    top: 14px;
  }
}
.mf_training .mf_button_small {
  bottom: -37px;
  background-image: linear-gradient(90deg, #000000 0%, #322B48 52%, #332C44 81%, #352F3D 100%);
  border: 3px solid #F6664B;
  border-radius: 37px;
  padding: 1rem 5rem;
}
.mf_training .mf_button_small a {
  font-size: 1.625rem;
  line-height: 2.25rem;
  color: #FFE5E5;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  text-decoration: none;
}
@media (max-width: 480px) {
  .mf_training .mf_button_small a {
    font-size: 0.875rem;
    line-height: 1.131rem;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  .mf_training .mf_button_small a {
    font-size: 1.4rem;
  }
}
@media (max-width: 480px) {
  .mf_training .mf_button_small {
    padding: 0.75rem 3rem;
    bottom: -24px;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  .mf_training .mf_button_small {
    padding: 1rem 3.5rem;
  }
}
@media (min-width: 1200px) and (max-width: 1440px) {
  .mf_training .mf_button_small {
    padding: 1rem 3rem;
  }
}

.mf_benefit {
  background: linear-gradient(47.28deg, #000000 0%, #322B48 52%, #332C44 81%, #352F3D 100%);
}
.mf_benefit__content {
  width: 100%;
  display: inline-block;
  text-align: center;
  padding-left: 120px;
  padding: 120px 0 120px 100px;
}
.mf_benefit__content .mf_title {
  color: #FF5B26;
  margin-top: 0;
}
@media (max-width: 480px) {
  .mf_benefit__content {
    padding: 40px 0;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  .mf_benefit__content {
    padding: 40px 0;
  }
}
.mf_benefit__main-content {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.mf_benefit__main-content-text {
  position: relative;
  max-width: 620px;
  width: 620px;
  color: #FFE5E5;
  margin-right: 70px;
  border-color: red;
  border: 10px solid white;
  border-image-slice: 1;
  border-width: 1px;
  border-image-source: linear-gradient(90deg, #F3AE5F 0%, #F3A65E 2%, #F28B5A 8%, #F27857 14%, #F26D56 20%, #F26955 27%, #FF5B26 57%, #F31F4F 88%, #D62970 100%);
}
.mf_benefit__main-content-text .top-left-square, .mf_benefit__main-content-text .top-right-square, .mf_benefit__main-content-text .bottom-left-square, .mf_benefit__main-content-text .bottom-right-square {
  background: linear-gradient(90deg, #F3AE5F 0%, #F3A65E 2%, #F28B5A 8%, #F27857 14%, #F26D56 20%, #F26955 27%, #FF5B26 57%, #F31F4F 88%, #D62970 100%);
}
.mf_benefit__main-content-text .text-group {
  margin: 44px 56px;
}
@media (max-width: 480px) {
  .mf_benefit__main-content-text .text-group {
    margin: 1rem;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  .mf_benefit__main-content-text .text-group {
    margin: 1.25rem;
  }
}
.mf_benefit__main-content-text .text-content {
  display: flex;
  text-align: left;
}
.mf_benefit__main-content-text .text-content-img {
  height: 2.625rem;
  display: flex;
  align-items: center;
  margin-right: 1rem;
}
@media (max-width: 480px) {
  .mf_benefit__main-content-text .text-content-img {
    height: 1.5rem;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  .mf_benefit__main-content-text .text-content-img {
    height: 1.75rem;
  }
}
.mf_benefit__main-content-text .text-content img {
  width: 40px;
  height: 24px;
}
@media (max-width: 480px) {
  .mf_benefit__main-content-text .text-content img {
    width: 20px;
    height: 12px;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  .mf_benefit__main-content-text .text-content img {
    width: 20px;
    height: 12px;
  }
}
.mf_benefit__main-content-text .text-content p {
  margin-bottom: 0;
  font-size: 1.75rem;
  line-height: 2.625rem;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}
@media (max-width: 480px) {
  .mf_benefit__main-content-text .text-content p {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  .mf_benefit__main-content-text .text-content p {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
}
@media (max-width: 480px) {
  .mf_benefit__main-content-text {
    margin-right: 24px;
    width: 100%;
    margin-bottom: 1.5rem;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  .mf_benefit__main-content-text {
    margin-right: 24px;
    width: 100%;
    margin-bottom: 1.5rem;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .mf_benefit__main-content-text {
    margin-bottom: 2rem;
  }
}
@media (min-width: 1024px) {
  .mf_benefit__main-content-text {
    margin-bottom: 2.5rem;
  }
}
.mf_benefit__main-content .gallery {
  width: calc(100% - 620px);
}
.mf_benefit__main-content .gallery .gallery-cards {
  height: 532px;
  min-height: 382px;
}
.mf_benefit__main-content .gallery .gallery-cards .swiper-wrapper {
  align-items: center;
}
@media (max-width: 480px) {
  .mf_benefit__main-content .gallery .gallery-cards .swiper-wrapper {
    align-items: flex-end;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  .mf_benefit__main-content .gallery .gallery-cards .swiper-wrapper {
    align-items: flex-end;
  }
}
.mf_benefit__main-content .gallery .gallery-cards .swiper-slide {
  width: 206px;
  height: 382px;
  text-align: center;
  transition: all 0.3s;
  border-top-right-radius: 32px;
  overflow: hidden;
}
@media (max-width: 480px) {
  .mf_benefit__main-content .gallery .gallery-cards .swiper-slide {
    width: 91px;
    height: 136px;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  .mf_benefit__main-content .gallery .gallery-cards .swiper-slide {
    width: 91px;
    height: 136px;
  }
}
.mf_benefit__main-content .gallery .gallery-cards .swiper-slide-active {
  width: 354px !important;
  height: 532px;
  transition: all 0.3s;
}
@media (max-width: 480px) {
  .mf_benefit__main-content .gallery .gallery-cards .swiper-slide-active {
    width: 110px !important;
    height: 165px;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  .mf_benefit__main-content .gallery .gallery-cards .swiper-slide-active {
    width: 110px !important;
    height: 165px;
  }
}
.mf_benefit__main-content .gallery .gallery-cards .swiper-pagination {
  width: auto;
  left: 378px;
  bottom: 0;
}
.mf_benefit__main-content .gallery .gallery-cards .swiper-pagination .swiper-pagination-bullet {
  margin: 0 12px;
  width: 12px;
  height: 12px;
  background-color: transparent;
  border: 0.5px solid #FFE5E5;
}
@media (max-width: 480px) {
  .mf_benefit__main-content .gallery .gallery-cards .swiper-pagination .swiper-pagination-bullet {
    margin: 0 4px;
    width: 8px;
    height: 8px;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  .mf_benefit__main-content .gallery .gallery-cards .swiper-pagination .swiper-pagination-bullet {
    margin: 0 4px;
    width: 8px;
    height: 8px;
  }
}
.mf_benefit__main-content .gallery .gallery-cards .swiper-pagination .swiper-pagination-bullet-active {
  background: #FFE5E5;
}
@media (max-width: 480px) {
  .mf_benefit__main-content .gallery .gallery-cards .swiper-pagination {
    line-height: 0.5rem;
    left: 50%;
    transform: translateX(-50%);
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  .mf_benefit__main-content .gallery .gallery-cards .swiper-pagination {
    left: 50%;
    transform: translateX(-50%);
  }
}
.mf_benefit__main-content .gallery .gallery-cards img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (max-width: 480px) {
  .mf_benefit__main-content .gallery .gallery-cards {
    height: 189px;
    min-height: 136px;
    padding-bottom: 1.5rem;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  .mf_benefit__main-content .gallery .gallery-cards {
    height: 189px;
    min-height: 136px;
    padding-bottom: 1.5rem;
  }
}
@media (max-width: 1600px) {
  .mf_benefit__main-content .gallery {
    width: 100%;
  }
}
@media (max-width: 480px) {
  .mf_benefit__main-content {
    padding-left: 24px;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  .mf_benefit__main-content {
    padding-left: 24px;
  }
}
@media (max-width: 1600px) {
  .mf_benefit__main-content {
    flex-direction: column;
  }
}

.mf_studio_swiper {
  min-height: 200px;
}
@media (max-width: 480px) {
  .mf_studio_swiper {
    height: 200px;
  }
}
.mf_studio img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.mf_studio__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  mix-blend-mode: overlay;
  text-transform: capitalize;
  text-align: center;
}
.mf_studio__content h1 {
  font-size: 12.5rem;
  line-height: 12.5rem;
  color: #ffffff;
}
@media (max-width: 480px) {
  .mf_studio__content h1 {
    font-size: 3rem;
    line-height: 3rem;
    margin: 24px auto;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  .mf_studio__content h1 {
    font-size: 3rem;
    line-height: 3rem;
    margin: 24px auto;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .mf_studio__content h1 {
    font-size: 6rem;
    line-height: 6rem;
    margin: 50px auto;
  }
}
.mf_studio .swiper-pagination {
  margin-bottom: 72px;
}
.mf_studio .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: transparent;
  border: 0.5px solid #000000;
}
@media (max-width: 480px) {
  .mf_studio .swiper-pagination .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  .mf_studio .swiper-pagination .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
  }
}
.mf_studio .swiper-pagination .swiper-pagination-bullet-active {
  background: #000000;
}
@media (max-width: 480px) {
  .mf_studio .swiper-pagination {
    margin-bottom: 1rem;
    bottom: 0;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  .mf_studio .swiper-pagination {
    margin-bottom: 1rem;
    bottom: 0;
  }
}
.mf_studio .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, .mf_studio .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 12px;
}

.mf_contact {
  background: linear-gradient(49.67deg, #F3AE5F 0%, #F3A65E 2%, #F28B5A 8%, #F27857 14%, #F26D56 20%, #F26955 27%, #FF5B26 57%, #F31F4F 88%, #D62970 100%);
}
.mf_contact .img_bg {
  position: absolute;
  width: 50%;
  bottom: 0;
}
.mf_contact__content {
  display: inline-block;
}
.mf_contact__content .mf_title {
  text-align: center;
  color: #000000;
  margin-bottom: 90px;
  position: inherit;
  z-index: 3;
}
@media (max-width: 480px) {
  .mf_contact__content .mf_title {
    margin-bottom: 1.5rem;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  .mf_contact__content .mf_title {
    margin-bottom: 1.75rem;
  }
}
.mf_contact__content .contact_ico {
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translate(-50%);
  z-index: 2;
}
@media (max-width: 480px) {
  .mf_contact__content .contact_ico {
    width: 100%;
    display: flex;
    justify-content: center;
    transform: initial;
    top: initial;
    left: 0;
  }
  .mf_contact__content .contact_ico img {
    width: 25%;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  .mf_contact__content .contact_ico {
    width: 100%;
    display: flex;
    justify-content: center;
    transform: initial;
    top: initial;
    left: 0;
  }
  .mf_contact__content .contact_ico img {
    width: 25%;
  }
}
.mf_contact__main-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 52px;
}
.mf_contact__main-content-left p {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2.25rem;
  color: #242424;
  margin-bottom: 1.5rem;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}
.mf_contact__main-content-left p:first-child {
  margin-top: 46px;
}
@media (max-width: 480px) {
  .mf_contact__main-content-left p:first-child {
    margin-top: 40px;
    margin-bottom: 0.625rem;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  .mf_contact__main-content-left p:first-child {
    margin-top: 40px;
    margin-bottom: 0.625rem;
  }
}
.mf_contact__main-content-left p:last-child {
  margin-bottom: 0;
}
@media (max-width: 480px) {
  .mf_contact__main-content-left p {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  .mf_contact__main-content-left p {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}
.mf_contact__main-content-left .hotline {
  font-weight: 700;
  color: #000000;
  font-size: 2.75rem;
  line-height: 4.125rem;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}
@media (max-width: 480px) {
  .mf_contact__main-content-left .hotline {
    font-size: 1.5rem;
    line-height: 2.25rem;
    margin-bottom: 0;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  .mf_contact__main-content-left .hotline {
    font-size: 1.5rem;
    line-height: 2.25rem;
    margin-bottom: 0;
  }
}
.mf_contact__main-content-left .mf_contact__gr_ico {
  display: flex;
  margin-top: 2rem;
  cursor: pointer;
}
.mf_contact__main-content-left .mf_contact__gr_ico a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  width: 56px;
  height: 56px;
  border: 2px solid #ffffff;
  border-radius: 50%;
  margin-right: 20px;
  text-decoration: none;
}
.mf_contact__main-content-left .mf_contact__gr_ico a:last-child {
  margin-right: 0;
}
.mf_contact__main-content-left .mf_contact__gr_ico a i {
  line-height: 1.5rem;
  font-size: 1.5rem;
}
@media (max-width: 480px) {
  .mf_contact__main-content-left .mf_contact__gr_ico a i {
    line-height: 1rem;
    font-size: 1rem;
  }
}
@media (max-width: 480px) {
  .mf_contact__main-content-left .mf_contact__gr_ico a {
    width: 2rem;
    height: 2rem;
  }
}
@media (max-width: 480px) {
  .mf_contact__main-content-left .mf_contact__gr_ico {
    justify-content: center;
    margin-top: 0.625rem;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  .mf_contact__main-content-left .mf_contact__gr_ico {
    justify-content: center;
    margin-top: 0.625rem;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .mf_contact__main-content-left .mf_contact__gr_ico {
    justify-content: center;
  }
}
@media (max-width: 480px) {
  .mf_contact__main-content-left {
    order: 3;
    text-align: center;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  .mf_contact__main-content-left {
    order: 3;
    text-align: center;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .mf_contact__main-content-left {
    grid-column: 1/span 2;
    text-align: center;
  }
}
.mf_contact__main-content-center .form_group {
  margin-bottom: 2rem;
}
@media (min-width: 1024px) {
  .mf_contact__main-content-center .form_group {
    margin-bottom: 1rem;
  }
}
.mf_contact__main-content-right .form_group {
  margin-bottom: 74px;
}
@media (max-width: 480px) {
  .mf_contact__main-content-right .form_group {
    margin-bottom: 1.5rem;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  .mf_contact__main-content-right .form_group {
    margin-bottom: 1.5rem;
  }
}
.mf_contact__main-content-right .mf_button {
  background-image: linear-gradient(90deg, #000000 0%, #322B48 52%, #332C44 81%, #352F3D 100%);
}
.mf_contact__main-content-right .mf_button a {
  color: #FFE5E5;
}
@media (max-width: 480px) {
  .mf_contact__main-content-right .mf_button {
    margin: 0 auto;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  .mf_contact__main-content-right .mf_button {
    margin: 0 auto;
  }
}
@media (max-width: 480px) {
  .mf_contact__main-content-right {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  .mf_contact__main-content-right {
    display: flex;
    flex-direction: column;
  }
}
.mf_contact__main-content .form_label, .mf_contact__main-content .form_label span {
  font-size: 1.5rem;
  line-height: 2.25rem;
  font-weight: 700;
  color: #ffffff;
  font-family: "SVN-Gilroy", sans-serif;
  margin-bottom: 10px;
}
@media (max-width: 480px) {
  .mf_contact__main-content .form_label, .mf_contact__main-content .form_label span {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  .mf_contact__main-content .form_label, .mf_contact__main-content .form_label span {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}
.mf_contact__main-content .form_label > span {
  color: #000000;
}
.mf_contact__main-content input, .mf_contact__main-content textarea {
  width: 100%;
  opacity: 0.4;
  background: linear-gradient(90deg, #FFE5E5 0%, #FFE5E5 100%);
  padding: 21px;
  border: none;
  border-radius: 15px;
  font-size: 1rem;
  line-height: 1.5rem;
}
.mf_contact__main-content input :focus-visible, .mf_contact__main-content textarea :focus-visible {
  outline: none;
}
@media (max-width: 480px) {
  .mf_contact__main-content input, .mf_contact__main-content textarea {
    padding: 0.5rem 1.5rem;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  .mf_contact__main-content input, .mf_contact__main-content textarea {
    padding: 0.5rem 1.5rem;
  }
}
.mf_contact__main-content textarea {
  min-height: 206px;
}
@media (max-width: 480px) {
  .mf_contact__main-content {
    grid-template-columns: repeat(1, 1fr);
    gap: 0;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  .mf_contact__main-content {
    grid-template-columns: repeat(1, 1fr);
    gap: 0;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .mf_contact__main-content {
    grid-template-columns: repeat(2, 1fr);
  }
}/*# sourceMappingURL=style.css.map */